<!DOCTYPE html><html lang="ru"><head>
	<%- include('./parts/header');%>
</head>
<body>
	<div class="container pt-3">
		<%- include('./parts/navbar');%>
	<h2 class="display-2"><%= title%></h2>

	</div>
	
</body>
</html>