<!DOCTYPE html><html lang="ru"><head>
	<%- include('./parts/header');%>
</head>
<body>
	<div class="container">
		<%- include('./parts/navbar');%>
	<h1 class="display-1"><%= title%></h1>
	<a href="/features">Features</a><br>
	<a href="/download" class="btn btn-primary mt-3" target="_blank">Download this page</a>
	</div>
	
</body>
</html>